.overtop-block {
    width: 100%;
    height: 20px;
    margin: 0;
    padding: 0;
    background-color: #fcc;
}

.overtop-block a{
    padding: 0 10px;
    text-decoration: none;
    color: #104e78;
}

.overtop-block a:hover{
    color: #fe3;
    background: #369;
}

.admin-tech-data{
    float: right;
    margin: 0 15px;
    font-size: smaller;
    color: #777;
}

/* PAGE EDIT FORM -----------------------------------------------------------*/
#page_edit_form button{
    text-align: center;
    margin: 10px 0;
    font-size: larger;
    width: 17em;
    height: 2em;
}

form ul.page-blocks-list {
    line-height: 25px;
    list-style: none;
}

.page-blocks-list li {
    margin: 0;
    padding-top: 3px;
    color: #333;
}

#page_edit_form .marked-block h3{
    padding:10px 10px;
}

#page_edit_form .input-label-block,
#page_edit_form .input-block{
    color: #666;
    line-height: 1em;
    width: 18em;
    margin: 20px 0;
}

.input-label-block input{
    width: 15em;
}

#product_edit_form .input-block input,
#page_edit_form .input-block input{
    width: 30em;
}

.user-data-block{
    font-size: smaller;
    color: #999;
    float: right;
    clear: both;
}

textarea,
#editor{
    width: 90%;
    padding: 0;
    margin: 0;
}

.nodes_list_table{
    border-collapse: collapse;
    width: 100%;
}

.nodes_list_table th,
.nodes_list_table td{
    border: 1px solid #333;
    padding: 5px;
    font-size: smaller;
}

.nodes_list_table tr:hover{
    background-color: #fff;
    cursor: pointer;
}

.nodes_list_table th{
    background: #ccc;
}

.nodes_list_table td input{
    width: 20px;
    margin: 0;
    padding: 0;
}
 /*   */

.filtering {
    background-color:lightgray;
}

.semi-spoiler{
    border: 1px solid #e5e5e5;
    overflow-y: scroll;
    margin-top: 5px;
}

.edit_product_form_container{
    display: none;
    border: 1px solid #e5e5e5;
    margin-top: 10px;
}

.edit-form-product-image{
    width: 270px;
    overflow-x: hidden;
    white-space: nowrap;
}

.edit-form-product-image .img{
    display: block;
}

/*  */
.cropper-container{
    white-space: nowrap;
    border:1px solid #e5e5e5;
}

.cropper-rendered-data{
    color: #999;
    font-size: smaller;
}

.cropper-img{
    display: inline-block;
    padding: 0;
    margin: 0;
}

.cropper-data{
    display: inline-block;
    padding: 10px;
}

.extra-preview {
    overflow: hidden;
    border: 1px solid #e5e5e5;
}

.extra-preview img {
    width: 100%;
}

.extra-preview-sm {
    height: 90px;
    width: 160px;
}

.extra-preview-xs {
    height: 36px;
    width: 64px;
}

.product-preview-image-buttons{
    display: none;
}

.admin_select_block{
    display: inline-block;
    width: 25em;
    height: 27px;
    border: 1px solid #777;
    color: #104e78;
}

.admin_select_block button{
    height: 27px;
    float:right;
    margin: 0;
    padding: 0;
}

.admin_select_block b{
    display: inline-block;
    margin-top: 3px;
    font-size: 14px;
    margin: 7px;
}

img.admin_preview_mini{
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}